{% block lucene_search_content %}

    <div class="row">

        <div class="col-xs-12">

            <div class="alert alert-danger">
                {{ errorMessage }}
            </div>

        </div>

    </div>

{% endblock lucene_search_content %}