<?xml version='1.0'?>
<zend-config>
  <plugin>
    <pluginName>LuceneSearch</pluginName>
    <pluginNiceName>LuceneSearch Search Module</pluginNiceName>
    <pluginIcon>/plugins/LuceneSearch/static/img/search-logo.png</pluginIcon>
    <pluginDescription>Search module for website with a php website crawler</pluginDescription>
    <pluginVersion>2.0.0</pluginVersion>
    <pluginIframeSrc>/plugin/LuceneSearch/admin_Plugin/settings</pluginIframeSrc>
    <pluginClassName>\LuceneSearch\Plugin</pluginClassName>
    <pluginIncludePaths>
      <path>/LuceneSearch/lib</path>
      <path>/LuceneSearch/models</path>
    </pluginIncludePaths>
    <pluginNamespaces>
      <namespace>LuceneSearch</namespace>
      <namespace>PDF2Text</namespace>
    </pluginNamespaces>
      <pluginJsPaths-extjs6>
          <path>/plugins/LuceneSearch/static/js/backend/startup.js</path>
          <path>/plugins/LuceneSearch/static/js/backend/settings.js</path>
    </pluginJsPaths-extjs6>
    <pluginCssPaths-extjs6>
          <path>/plugins/LuceneSearch/static/css/admin.css</path>
    </pluginCssPaths-extjs6>
  </plugin>
</zend-config>