
.lucenesearch_icon_settings {
    background:url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important;
}

.lucenesearch_icon {
    background-image: url(/plugins/LuceneSearch/static/img/lucene.png) !important;
}
.lucenesearch_icon_plugins {
    background: url(/plugins/LuceneSearch/static/img/plugin.png) no-repeat scroll left center transparent !important;
}
