#autocomplete_choices_search{
    background: #fff;
    color: #000;
    z-index: 1000;
 }
#autocomplete_choices_search li{
    cursor:pointer;
}

.highlight {
    font-weight: bold;
}

 #search_paging .active{
    font-weight:bold;
}

#search_info{
    margin: 10px 0;
}

.search_result {
    margin: 0 0 10px 0;
}

.search_result_loading{
    width: 100%;
    overflow:hidden;
}
.search_ajax_loader {
    margin: 0 0 3px 0;
    float:left;
}
.search_ajax_loader_img {
    margin: 4px 10px 3px 0;
    float:left;
}

.search_result_loading{
	background: url(/plugins/LuceneSearch/static/img/ajax-loader.gif) no-repeat;
	padding: 0 0 0 20px;
}

#results_loader{
    margin: 20px 0 0 0;
}